.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.conda
Icon
.vscode
/_pycache_
/app/__pycache__/
/app/*/__pycache__/
/app/*/*/__pycache__/
/app/*/*/*/__pycache__/
/app/*/*/*/*/__pycache__/
/app/*/*/*/*/*/__pycache__/
/app/*/*/*/*/*/*/__pycache__/
/app/*/*/*/*/*/*/*/__pycache__/
.pytest_cache
.coverage
.coverage.*
.coverage.xml
.coverage.xml.*
.coverage.xml.*.*
.coverage.xml.*.*.*
venv/